<section class="column align-center blog-output">
  {{#each blogs}}
      <div class="blog">
        <a href="/blog/edit/{{id}}">
          <header class="row justify-between align-center">
            <h1>{{title}}</h1>
            <div class="row justified-between posted-by">
              <p>Posted By: {{author.user_name}}</p>
              <span>on</span>
              <p>{{date}}</p>
            </div>
          </header>
          <p class="text-center blog-text">{{text}}</p>
        </a>
      </div>
  {{/each}}

  <a href="/blog">
    <button class="new-post-btn">New Post</button>
  </a>
</section>
